# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtualenv
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node
node_modules/
dist/
.vite/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Env
.env
.env.*
!.env.example

# Docker
.docker/

# ES / RabbitMQ data
esdata/
rabbitmq-data/
postgres-data/
redis-data/
